<?xml version="1.0"?>
<config>
    <modules>
        <FurnitureGallery_CustomCategories>
            <version>0.1.2</version>
        </FurnitureGallery_CustomCategories>
    </modules>
    <global>
        <models>
            <furnituregallery_customcategories>
                <class>FurnitureGallery_CustomCategories_Model</class>
                <resourceModel>furnituregallery_customcategories_resource</resourceModel>
            </furnituregallery_customcategories>
            <furnituregallery_customcategories_resource>
                <class>FurnitureGallery_CustomCategories_Model_Resource</class>
            </furnituregallery_customcategories_resource>
        </models>
        <blocks>
            <furnituregallery_customcategories>
                <class>FurnitureGallery_CustomCategories_Block</class>
            </furnituregallery_customcategories>
        </blocks>
        <helpers>
            <furnituregallery_customcategories>
                <class>FurnitureGallery_CustomCategories_Helper</class>
            </furnituregallery_customcategories>
        </helpers>
        <resources>
            <furnituregallery_customcategories_setup>
                <setup>
                    <module>FurnitureGallery_CustomCategories</module>
                </setup>
            </furnituregallery_customcategories_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <quickview>
                <use>standard</use>
                <args>
                    <module>FurnitureGallery_CustomCategories</module>
                    <frontName>quickview</frontName>
                </args>
            </quickview>
        </routers>
    </frontend>
</config>